---
---

//
// IMPORTS
//

@import "reset";
@import url("https://fonts.googleapis.com/css?family=Raleway:700");
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 45%;
  background-color: rgba(31, 7, 0, 0.3);
}

#banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(
      rgba(31, 7, 0, 0.3), 
      rgba(31, 7, 0, 0.3)
    ),
    url("images/header-sm.jpg") 
    no-repeat center center fixed;
  animation-duration: 2s;
  animation-name: slidein;
  z-index: -999;
}


@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.headline {
  font-weight: 700;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0;
}

.headline, .nav-bar {
  text-align: center;
}

.nav-bar {
  margin: 1em;
}

.nav-item {
  color: #fcfbf7;
  font-size: 3em;
  padding: 0 1.2em 0 0;
}

.nav-item:last-child {
  padding: 0;
}

.header-content {
  color: #fcfbf7;
  margin-top: 10%;
}

@media screen and (min-width: 22em) {
  body {
    font-size: 55%;
  }
}

@media screen and (min-width: 28.75em) {
  body {
    font-size: 65%;
  }
  .nav-item {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 40.5em) {
  body {
    font-size: 100%;
  }

  #banner {
    background: 
      linear-gradient(
        rgba(31, 7, 0, 0.3), 
        rgba(31, 7, 0, 0.3)
      ),
      url("images/header-lrg.jpg") 
      no-repeat center center fixed;
    animation-duration: 2s;
    animation-name: slidein;
    z-index: -999;
  }

  .nav-bar {
    margin: 1em;
  }
}