---
---

//
// IMPORTS
//

@import "reset";
@import "mixins";

@import url("https://fonts.googleapis.com/css?family=Raleway:700");
@import "css/font-awesome.min.css";

body {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(31, 7, 0, 0.3);
  margin: 0;
  font-size: 45%;
  @include breakpoint(sm) { font-size: 55%; }
  @include breakpoint(md) { font-size: 65%; }
  @include breakpoint(lrg) { font-size: 100%; }
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  width: 100%;
  height: 100%;
}

#banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include animate(slidein, 2s, -999);
  @include banner-bg("images/header-sm.jpg");
  @include breakpoint(lrg) {
    @include banner-bg("images/header-lrg.jpg");
    @include animate(slidein, 2s, -999);
  }
}

.headline {
  font-weight: 700;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0;
}

.headline, .nav-bar {
  text-align: center;
}

.nav-bar {
  margin: 1em;
}

.nav-item {
  color: #fcfbf7;
  font-size: 3em;
  padding: 0 1.2em 0 0;
  @include breakpoint(md) { font-size: 2.5em; }
}

.nav-item:last-child {
  padding: 0;
}

.header-content {
  color: #fcfbf7;
  margin-top: 10%;
}
