---
---

//
// IMPORTS
//

@import "reset";

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 45%;
  background-color: rgb(227, 227, 227);
  background: url("images/header-sm.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-wrapper {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 7, 0, 0.3);
  z-index: -1000;
}

.headline {
  font-weight: 700;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0;
}

.headline, .nav-bar {
  text-align: center;
}

.nav-bar {
  margin: 1em;
}

.nav-item {
  color: #fcfbf7;
  font-size: 3em;
  padding: 0 1.2em 0 0;
}

.nav-item:last-child {
  padding: 0;
}

.header-content {
  color: #fcfbf7;
  margin-top: 10%;
}

@media screen and (min-width: 22em) {
  body {
    font-size: 55%;
  }
}

@media screen and (min-width: 28.75em) {
  body {
    font-size: 65%;
  }
  .nav-item {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 40.5em) {
  body {
    font-size: 100%;
    background: url("images/header-lrg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .nav-bar {
    margin: 1em;
  }
}