<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }} - {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>

    <div class="header-wrapper">
      <header class="header-content">
        <h1 class="headline">Sara Gudeman</h1>
        <nav class="nav-bar">
          <a class="nav-item" title="GitHub" href="http://github.com/sara-gudeman" target="_blank"><i class="fa fa-github"></i></a> 
          <a class="nav-item" title="LinkedIn" href="http://linkedin.com/in/saragudeman" target="_blank"><i class="fa fa-linkedin"></i></a> 
          <a class="nav-item" title="E-mail" href="mailto:sara.gudeman@gmail.com" targe="_blank"><i class="fa fa-envelope"></i></a>
          <a class="nav-item" title="Resume" href="{{ site.baseurl }}/images/resume.pdf" target="_blank"><i class="fa fa-file-text-o"></i></a>
        </nav>
      </header>
    </div>

    <div id="banner"></div>

    {% include analytics.html %}
  </body>
</html>
